.nav{
    &-bg{
        background-color: $primary !important;
        padding-top: 0;
        padding-bottom: 0;
    }
    &-link{
        color: white !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        &-image{
            margin-top: 1px !important;
            margin-right: 1px !important;
        }

    }
    &-button{
        color: $negro-toroto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        margin-left: 20px !important;

    }

}

.navbar-toggler{
    border: 0 !important

}
