.general{
    &-container{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include for-phone{
            flex-direction: column-reverse;
            padding-top: 0 !important;
        }
        .image-detail{
            // max-width: 50% !important;
            // max-height: 440px !important;
            // min-width: 512px !important;
            // min-height: 440px !important;
            border-radius: 20px !important;
            margin: 0 !important;
            object-fit: cover !important;
            @include for-phone{
                margin-left: -15px;
                margin-right: -15px;
                border-radius: 0px !important;
            }
        }

    }
    &-description{
        display:flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 50% !important;
        @include for-phone{
            width: 100% !important;
            padding-left: 12px;
            padding-right: 12px;
            background: #FFFFFF;
            border-radius: 20px;
            margin-top: -10px !important;
            z-index: 2;
        }
        &-text{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;

            @include for-phone{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.15px;
            }
        }
    }
    &-name{
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;

        @include for-phone{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;

        }

    }
    &-location{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.18px;
        @include for-phone{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;         
            letter-spacing: 0.18px;
            margin-top: 40px;
        }
        
    }
    &-services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 5px;
        .service-container{
            @include for-phone{
                display: inherit !important;
            }
        }

    }

    &-problem{
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 104px;
        @include for-phone{
            padding-left: 12px;
            padding-right: 12px;
        }
        h2{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.18px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
        }
    }
    &-implement{
        display: flex;
        flex-direction: column;
        @include for-phone{
            padding-left: 12px;
            padding-right: 12px;
            
        }
        &-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 35%;
            @include for-phone{
                width: 200px;
                justify-content: flex-start;
            }
            img{
                width: 25px;
                height: 25px;
                @include for-phone{
                    padding-left: 5px !important;
                }
            }  
        }
        h2{
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
            @include for-phone{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }


}

.accordion-button{
    font-size: 20px !important;
    border: 0;
    border-bottom: 1px solid $secondary !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &:active{
        outline:none;
        border: 0;
    }
    &:focus{
        outline:none !important;
        border-color: none !important;
        box-shadow: none !important
    }
}

.accordion-button:not(.collapsed) {
    color: $negro-toroto !important;
    background-color: white !important;
}

.accordion-body{
    border-bottom: none !important;
    padding-bottom: 24px;
}

.accordion-item{
    border-bottom: none !important;
}

.mobile-padding{
    @include for-phone{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}